
@media only screen and (min-width: 768px) and (max-width: 1040px){
    /* .logo2, .logo2L{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } გასასწორებელი */
}

@media only screen and (min-width: 0px) and (max-width:768px) {
    .burgercont{
        position:absolute;
        display: block;
        z-index: 1;
    }
    .leftSide{
        display: none;
    }
    .section1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-template-areas: 
        " main";
    }
    
   /* .logo2, .logo2L{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  გასასწორებელი  */ 
    .shaving , .manscare{
        margin: 50px;
        padding-bottom: 120px;
        gap: 200px;
        grid-template-columns:1fr
    }
    .images{
        height: 398px;
        width: 268px;
    }
}